@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    background-color: rgb(37, 37, 37);
    color: white
}

h1 {

}

#settings {
    // itt valami rend
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
}

#game {
    display: block;
    align-items: center;
    justify-content: center;
    clear: right;
}

#board {
    .row {
        //width: 100px;
        //height: 100px;
        //position: relative;
        display: flex;

        div {
            width: 70px;
            height: 70px;
            margin: 3px;
        }
    }

    .room {
        //background-color: red;
        //border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        border-radius: 10px;

        .player {
            width: 20px;
            height: 20px;
            border-radius: 5px;
        }

        .gold {
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            border-radius: 5px;
            background-color: orange;
            box-shadow: 0 0 10px 10px yellow;
        }
    }

    .arrow {
        transition: 0.2s;
        background-image: url('../img/arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        opacity: 20%;
        //transform: rotate(270deg);
        //background-color: green;
    }

    .arrowEnabled {
        transition: 0.2s;
        opacity: 70%;
        cursor: pointer;
    }

    .arrowEnabled:hover {
        transition: 0.2s;
        opacity: 100%;
    }

    .empty {
        width: 70px;
        height: 70px;
    }
}

#separRoom {
    border-radius: 10px;
    width: 70px;
    height: 70px;
    background-size: cover;
}

.availablePath {
    cursor: pointer;
    box-shadow: inset 0 0 4px 4px magenta;
}

button {
    background-color: rgb(0, 140, 255);
    border: 0;
    color: white;
    min-width: 200px;
    padding: 10px 15px 10px 15px;
    border-radius: 3px;
    transition: 0.2s;
    font-size: 17px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(0, 120, 255);
    transition: 0.2s;
}

input {
    font-size: 17px;
    border: 0;
    border-radius: 3px;
    transition: 0.1s;
}

input:focus {
    outline: 3px solid rgb(0, 120, 255);
    transition: 0.1s;
}