#settings {
    // itt valami rend
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    .row {
        //width: 100px;
        //height: 100px;
        //position: relative;
        display: flex;
    }
}

.room {
    //border: 1px solid black;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3px;
    background-size: cover;
    border-radius: 10px;
}

.player {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.gold {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 5px;
    background-color: orange;
    box-shadow: 0 0 10px 10px yellow;
}