#settings {
    // itt valami rend
}

#main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#game {
    display: flex;
    align-items: center;
    justify-content: center;
}

#board {
    .row {
        //width: 100px;
        //height: 100px;
        //position: relative;
        display: flex;

        div {
            width: 70px;
            height: 70px;
            margin: 3px;
        }
    }

    .room {
        background-color: red;
        //border: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        border-radius: 10px;
    }

    .arrow {
        background-image: url('../img/arrow.png');
        background-repeat: no-repeat;
        background-size: contain;
        transform: rotate(270deg);
        //background-color: green;
    }

    .empty {
        width: 70px;
        height: 70px;
    }
}





.player {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.gold {
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    border-radius: 5px;
    background-color: orange;
    box-shadow: 0 0 10px 10px yellow;
}

.selectPush {
    box-shadow: inset 0 0 4px 4px magenta;
    transition: 0.3s;
}

.selectPush:hover {
    box-shadow: inset 0 0 8px 8px magenta;
    transition: 0.3s;
}